/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsla(212, 45%, 89%, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 960px;
  margin: 0 auto;
}

/* Card container */
.qr-code__container {
  background-color: hsla(255, 100%, 100%, 1);
  width: 320px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px; */
  border-radius: 20px;
  padding-inline: 16px;
  padding-block: 16px 40px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

/* QR image */
.qr-code__container__img img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}

/* Text content */
.qr-code__container__text {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px; */
  text-align: center;
  /* padding-inline: 16px; */
  padding: 24px 16px 0;
}

.qr-code__container__text h1 {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  color: hsla(218, 44%, 22%, 1);
}

.qr-code__container__text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: hsla(216, 15%, 48%, 1);
}

/* Footer attribution */
footer {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile styles */
@media screen and (max-width: 375px) {
 body {
  width: 375px;
  height: 812px;
 } 
}